@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  background-color: rgb(15, 15, 15);
  margin: 0;
  font-family: "Quicksand";
  color: #ffffff;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #009e15;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #009e15;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.page-preview *{
  background-color: #f2f2f2;
  color: rgb(15,15,15);
}

.page-preview {
  background-color: #f2f2f2;
  padding: 10px 16px;
  margin: 15px 0px;
  transition: 0.2s;
  border-radius: 5px;
}
.page-preview:hover {
  transform: translateY(-5px) translateX(-5px);
}
.page-preview h2 {
  font-size: 20px;
  color: #009e15;
  margin-bottom: 8px;
}

.page-preview a{
  text-decoration: none;
}

/* page details page */
.page-details h2 {
  font-size: 25px;
  color: #009e15;
  margin-bottom: 10px;
}

.page-details p {
  font-size: 15px;
  color: lightgrey;
}

.page-details div {
  margin: 20px 0;
}
.page-details button {
  background: #009e15;
  color: #fff;
  border: 0;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}